.container{
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: solid black;
    text-align: center;
}

.hangman{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#output h3{
    text-align: left;
}

